################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NotesAPI
/app/out
/NotesAPI/bin
/NotesAPI/obj
/NotesAPIRestService/bin
/NotesAPIRestService/obj
/app
